.checkoutFormFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 16px;
    color: var(--black);
}

.checkoutFormFieldContainer > input {
    background-color: var(--gray-200);
    padding: 14px 0px;
    border-radius: 4px;
}
