.buttonContainer {
    display: flex;
    align-items: center;

    cursor: pointer;

    font-size: 24px;
    padding: 10px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.buttonCheckBox {
    margin-right: 8px;
}
