.CartContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--yellow-800);

    margin: 64px 120px 68px;
}

.CartContentContainer > h1 {
    margin-bottom: 90px;
}

.cartItemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 280px);

    gap: 60px;
}

.checkoutContainer {
    text-align: center;

    color: var(--black);
    margin-top: 120px;
}

.checkoutContainer > p {
    font-weight: 700;

    font-size: 28px;
    margin-bottom: 32px;
}

.checkoutContainer > button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--black);
    border-radius: 8px;

    padding: 14px 18px;
    font-size: 26px;
}
