.cartContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--yellow-800);
    background-color: var(--white);

    padding: 64px 120px 68px;
}

.cartContentContainer > h1 {
    margin-bottom: 90px;
}

.cartItemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 280px);

    gap: 60px;
}

.cartContentCheckoutContainer {
    text-align: center;

    color: var(--black);
    margin-top: 60px;
}

.cartContentCheckoutContainer > p {
    font-size: 22px;
    margin-bottom: 16px;
}

.cartContentCheckoutContainer > button {
    background-color: var(--brown-700);
    color: var(--white);

    font-size: 18px;
    border-radius: 8px;
    padding: 16px 64px;
}
