.checkoutModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    color: var(--black);
}

.checkoutModalContainer > form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    background-color: var(--white);
    border-radius: 12px;

    width: 50%;
    max-width: 720px;
    padding: 40px;
}

.checkoutModalCloseButton {
    position: absolute;
    top: 14px;
    right: 14px;
}

.checkoutModalCloseButton > img {
    width: 20px;
    height: 20px;
}

.checkoutModalFormFields {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.checkoutFormError {
    color: red;
    font-size: 0.875rem;
}

.checkoutModalYourOrderContainer > h3 {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 20px;
    margin-top: 12px;
}

.checkoutModalSubmitButton {
    background-color: var(--brown-700);
    color: var(--white);

    font-size: 1rem;
    border-radius: 6px;
    padding: 14px 0px;
}
