.ToggleFavBookContainer {
    position: absolute;
    top: 12px;
    left: 12px;
}

.ToggleFavBookContainer > svg {
    width: 18px;
    height: 18px;

    transition: transform 0.3 ease;
}

.ToggleFavBookContainer:hover > svg {
    transform: scale(1.2);
    cursor: pointer;
}
