.bookPageContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--white);

    gap: 20px;

    margin-bottom: -1px;
    padding: 60px 288px 80px;
}

.bookPageContentContainer img {
    min-width: 300px;
}

.bookPageContentTitleContainer {
    text-align: center;
}

.bookPageContentTitleContainer p:nth-of-type(1) {
    font-size: 38px;
    font-weight: 700;
}

.bookPageContentTitleContainer p:nth-of-type(2) {
    font-size: 24px;
}

.bookPageContentCategorieContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 480px;

    gap: 10px;
}

.bookPageContentAuthor {
    margin-top: 30px;
    margin-bottom: 20px;
}

.bookPageContentAuthor > h2 {
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 20px;
}

.bookPageContentAuthor > p {
    font-size: 18px;
}

.bookPageContentSinopse > h2 {
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 20px;
}

.bookPageContentSinopse > p {
    font-size: 18px;
}
