.addToCartButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 1px solid var(--yellow-800);
    border-radius: 12px;

    font-size: 14px;
    padding: 8px 32px;
    margin-top: 16px;
}

.addToCartButtonContainer img {
    max-width: 16px;
    max-height: 16px;
}
