.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.25rem;
    font-weight: 400;

    padding: 12px 120px;

    gap: 164px;

    background-image: url("../../assets/header-background.svg");
    background-size: cover;
}

.headerContainer a {
    text-decoration: none;
    color: var(--white);
}

.headerMidNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    transition: background-color 0.3s ease, color 0.2s ease;
}

.headerMidNavBar > a:hover {
    color: var(--yellow-700);
    transform: scale(1.1);
    cursor: pointer;
}

.headerLogo {
    display: flex;
    align-items: center;

    gap: 1.25rem;

    color: var(--yellow-700);
    font-size: 1.75rem;
    font-weight: 700;
}

.headerLogo > a:nth-of-type(2) {
    color: var(--yellow-700);
}

.navBar {
    color: var(--white);
}

.navBar ul {
    display: flex;
    align-items: center;

    gap: 45px;
}

.navBarFavorites {
    margin-left: 80px;
}

.navBarIcon {
    width: 2rem;
    height: 4rem;
}

.shoppingCartContainer > a > span {
    width: 24px;
    height: 24px;
}

.headerEndNavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: background-color 0.3s ease, color 0.2s ease;
}

.headerEndNavBar > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerEndNavBar > a:hover {
    transform: scale(1.2);
    cursor: pointer;
}
