.heroContainer {
    display: flex;
    justify-content: center;

    background-image: url("../../../assets/hero-background.svg");
    background-size: cover;

    width: 100%;
    min-height: 700px;
}

.heroContent {
    text-align: center;

    margin-top: 70px;
    max-width: 850px;
}

.heroContent > h1 {
    background: radial-gradient(circle, #cc9600 0%, #ff7700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-size: 3rem;
    font-weight: 700;
}

.heroContent > h3 {
    margin-top: 30px;

    color: var(--white);

    font-size: 1.25rem;
    font-weight: 400;
}

.searchButtonContainer {
    position: relative;
    display: flex;

    background: transparent;

    border: 1px solid var(--yellow-700);
    border-radius: 10px;

    margin: 40px auto;
    width: 360px;
}

.searchButtonContainer > input {
    flex: 1;

    background: transparent;
    color: var(--white);

    border-radius: 6px;
    font-size: 14px;
    padding: 16px 32px;
}

.searchButtonContainer > button {
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 6px;

    background-color: var(--brown-700);
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.2s ease;
    will-change: transform, background-color;

    font-size: 1rem;
    border-radius: 6px;
    padding: 10px 36px;
}

.searchButtonContainer > button:hover {
    background-color: var(--brown-600);
    transform: scale(1.05);
    cursor: pointer;
}
