.bookCardContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    color: var(--black);
    border: 1px solid var(--gray);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;

    border-radius: 8px;
    padding: 32px;
    max-width: 280px;
}

.bookCardContainer > img {
    height: 240px;
    padding: 0px 22px;

    transition: background-color 0.3s ease, transform 0.2s ease;
    will-change: transform, background-color;
}

.bookCardContainer > img:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.bookCardTitleContainer {
    text-align: center;

    margin-bottom: 24px;
}

.bookCardTitleContainer p:nth-of-type(1) {
    font-size: 20px;
    font-weight: 700;
}

.bookCardTitleContainer p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700;

    margin-top: 4px;
}

.bookCardTitleContainer > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookCardPriceContainer {
    font-size: 16px;
}

.bookCardPriceContainer p:nth-of-type(1) {
    font-weight: 700;

    margin-bottom: 6px;
}
