:root {
    --white: #ffffff;
    --black: #000000;

    --yellow-100: #ffffcc;
    --yellow-200: #fcf3cf;
    --yellow-300: #fcee59;
    --yellow-400: #d6ce80;
    --yellow-700: #cc9600;
    --yellow-800: #ca891d;

    --orange-600: #ff7700;

    --brown-700: #4b330b;

    --blue-200: #64aef4;

    --gray: #a59f9f;
    --gray-200: #dbdbdb;
    --gray-300: #bbbbbb;
    --gray-600: #636363;
    --gray-700: #2b2b2b;
    --gray-800: #1e1e1e;

    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-size: 1rem;

    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #1e1e1e;
}

button {
    background-color: transparent;
}
