.shopContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--yellow-700);

    padding-top: 80px;
    padding-bottom: 120px;
}

.shopContentContainer > h1 {
    font-size: 3rem;
    font-weight: 700;
}

.filterContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--black);

    gap: 60px;
    margin-top: 40px;
}

.shopContainerCustomFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    border: 1px solid var(--black);
    border-radius: 12px;

    font-size: 18px;
    padding: 8px 24px;
}

.shopContainerCustomFilter > img {
    width: 20px;
    height: 20px;
}

.bookListContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 40px;
    margin: 80px 100px 0px;
}

.bookPlusToggleFav {
    position: relative;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    margin-top: 40px;

    padding: 12px;
}

.pagination > span {
    text-align: center;
    color: var(--gray-800);

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pagination > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 18px;
}

.pagination > button:disabled,
.pagination > button > img {
    color: #a1a1a1;
    cursor: not-allowed;
    opacity: 0.4;
}

.pagination > button > img {
    width: 16px;
    height: 16px;
}
